__pycache__/
*.log
*.sqlite3
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
*.swp
*.swo
*.bak
*.tmp
*.orig
*.DS_Store
*.coverage
*.mypy_cache/
*.pytest_cache/
*.vscode/
*.idea/
*.vs/
*.pyc
.env
.venv/
logs
client.session
printer.session